

<div class ="container">
  <h1> <!-- {{' -->Task Manager<!-- '|capitalize}}  --></h1>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel panel-heading">
        <h3 class="panel-title">Create Task </h3>
        </div>  
        <div class="panel panel-body">
          <!-- CreateTask Component -->
          <createTask></createTask>
        </div>  
      </div>  
    </div>
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel panel-heading">
          <h3 class="panel-title">Tasks</h3>      
        </div>  
        <div class="panel panel-body">
           <!-- showList Component -->
              <showList></showList>
  
            </div>  
            
      </div>
    </div>  
  </div>  
</div>


